/* Estilos para la tarjeta */
#tarjeta_profesor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.tarjeta {
    display: inline-block;
    flex-direction: column;
    margin: 10px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-family: Arial, sans-serif;
}

.tarjeta p {
    text-align: center;
}

.tarjeta img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.cabecera-tarjeta {
    text-align: center;
    margin-top: 15px;
}

.cabecera-tarjeta h3 {
    font-size: 24px;
    margin: 0;
}

.cuerpo-tarjeta {
    margin-top: 10px;
}

.pie-tarjeta {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.gimnasio {
    background-color: #3a9b7e !important;
    color: white;
}

.baile {
    background-color: #f49ac4 !important;;
    color: white;
}

.pie-tarjeta {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
}